<p>test works!</p>
<h3>Loading: {{loading}}</h3>
<h3>{{error}}</h3>
<!-- <div id="myid">From test component</div> -->
<!-- 
<h2>Component Interation</h2>

{{training}}

<div><button (click)="addJquery()"> Add jQuery</button></div>

<h2>Pipes</h2>

{{ training | json}}

<div>
    {{ name | uppercase }}    
</div>

<div>{{ name | titlecase | lowercase }}</div>
<div>{{ name | titlecase }}</div>

{{ name }}

{{ training | slice:1:2 }}
<div>{{num}}</div>
<div>
    {{num | currency}}
</div>
<div>
    {{ num | currency:"INR" }}
</div>

<div>
    {{num | currency:"GBP":"code"}}
</div>
<div>
    {{num | percent}}
</div>
===
<div>
    {{num | number:'2.1-2'}}
</div>

{{today}}
<div>
    {{today | date}}
</div>
<div>
    {{today | date:'medium'}}
</div>

<ul>
    <li>department name
        <ul>
            <li>user 1</li>
            <li>user 2</li>
        </ul>
    </li>
    <li>department name 2
        <ul>
            <li>user 3</li>
        </ul>
    </li>
</ul>
<hr>
<ul *ngFor="let user of users | groupby">
    <li>{{user.department}}
        <ul>
            <li *ngFor="let u of user.users">{{u.name}}</li>
        </ul>
    </li>
</ul> -->
<hr>
<h2>Service</h2>
<ul>
    <li *ngFor="let user of users">{{user.name}} - {{user.department}}</li>
</ul>
